{{template "header" .}}

   
<div class="container">
    test test
</div>
<!-- test test 
    <div class="col-md-3">
	{{if .}}
	{{if .Email}}
	{{.Email}}	  
	{{end}}
	{{else}}
	<a href="/login">login</a> | <a href="/signup">sign up</a>
	{{end}}
    </div>
      -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>   
  </body>
</html>
