{{template "header" .}}

<style>
 .mapcontainer{
     border-radius:20px;
 }
 #map{
     height:400px;
 }
 table{
     width:100%;
 }

 
 
 .sub-header {
     color:white;
     padding:30px;
     background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(/img/bg.jpg) no-repeat center -400px;	 
     -webknit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
 }

</style>

<div class="container sub-header">    
    <div class="row">
	<div class="container">
	<div class="col-xs-1">  </div>  
	<div class="col-xs-10">
	    <blockquote>We strive to make you always feel and look your best!!</blockquote>
	    We offer a free consultation for any service we perform. This is a time where you can come in and discuss with your stylist what you have dreamed of for your hair and can be scheduled directly before your appointment time or in advance. Our treat!
	    <p style="text-align: center;"><strong><em>*Our prices vary based on stylist and exp</em></strong><strong><em>erience.</em></strong></p>
	    <p style="text-align: center;">Choose an option below to find out more about our pricing and services offered.</p>
	</div>
	<div class="col-xs-1">    </div>
	</div>
    </div>
</div>

<div class="container">
<h1>Cuts &amp; Styling—</h1>
<table>
    <tbody>
	<tr class="alt">
	    <td>
		<h2>Women's Cut</h2>
	    </td>
	    <td><em>For the quick touch up. You can choose a dry cut or to be shampooed and cut wet. Does not include style.</em></td>
	    <td><strong>Starting at : $20</strong></td>
	</tr>
	<tr>
	    <td>
		<h2>Cut &amp; Style</h2>
	    </td>
	    <td><em>Wash, cut and blow out. A finished look.</em></td>
	    <td><strong>Starting at : $40</strong></td>
	</tr>
	<tr class="alt">
	    <td>
		<h2>Men's Cut</h2>
	    </td>
	    <td><em>Wash, cut and style. A finished look.</em></td>
	    <td><strong>Starting at : $20</strong></td>
	</tr>
	<tr>
	    <td>
		<h2>Children's Cut</h2>
	    </td>
	    <td><em>For children under age 12. No style.</em></td>
	    <td><strong>Starting at : $15</strong></td>
	</tr>
	<tr>
	    <td></td>
	    <td><em>Shampoo and Blow Out: Wash with a blown-dry style. No cut.</em></td>
	    <td><strong>Starting at : $25</strong></td>
	</tr>
	<tr>
	    <td></td>
	    <td><em>Shampoo, Blow Out, Curling Iron or Flat Iron: Wash &amp; blown dry. Polished off by adding curls or polishing straight ends. No cut.</em></td>
	    <td><strong>Starting at : $30</strong></td>
	</tr>

	<tr><td colspan='3'><h1>Coloring—</h1></td></tr>
	<tr class="alt">
	    <td>
		<h2>Single Palette</h2>
	    </td>
	    <td><em>One color all over that gives a solid effect</em></td>
	    <td width='140px'><strong>Starting at : $50</strong></td>
	</tr>
	<tr>
	    <td>
		<h2>1/4 Head Foil</h2>
	    </td>
	    <td><em>Subtle highlights that add dimension around the face and the top of the head</em></td>
	    <td><strong>Starting at : $50</strong></td>
	</tr>
	<tr class="alt">
	    <td>
		<h2>Half Head Foil</h2>
	    </td>
	    <td><em>Brightens up top layers while leaving natural shades around the nape of the neck</em></td>
	    <td><strong>Starting at : $70</strong></td>
	</tr>
	<tr>
	    <td>
		<h2>Full Head Foil</h2>
	    </td>
	    <td><em> The most solid effect a highlight can deliver. Foiled from the top of the head to the nape of the neck</em></td>
	    <td><strong>Starting at : $90</strong></td>
	</tr>
	<tr>
	    <td>
		<h2>Multi-Dimensional</h2>
	    </td>
	    <td><em>Most common service. Highlights, Lowlights w/ in between color at the root for a natural look that has depth and dimension</em></td>
	    <td><strong>Starting at : $95</strong></td>
	</tr>
	<tr>
	    <td>
		<h2>Balayage</h2>
	    </td>
	    <td><em>A painted on technique (no weaving, no foiling) that delivers a natural sun-kissed effect.</em></td>
	    <td><strong>Starting at : $100</strong></td>
	</tr>
	<tr>
	    <td>
		<h2>Ombre</h2>
	    </td>
	    <td><em>Darker at the root blended into brighter ends</em></td>
	    <td><strong>Starting at : $95</strong></td>
	</tr>
	<tr>
	    <td>
		<h2>Root Retouch</h2>
	    </td>
	    <td><em>Re-growth revamp</em></td>
	    <td><strong>Starting at : $50</strong></td>
	</tr>
	<tr>
	    <td>
		<h2>Gloss or Toner</h2>
	    </td>
	    <td><em>Punch up your color to the perfect shade or add subtle brightness and shine to your natural color.</em></td>
	    <td>Added to Color Service:<strong>Starting at : $20</strong>
		Single Service:<strong>Starting at : $50</strong></td>
	</tr>
	<tr>
	    <td>
		<h2>Creative Color</h2>
	    </td>
	    <td><em>Going for a cotton candy look? Or perhaps one of the primary colors? We can help you achieve any shade.</em></td>
	    <td><strong>Starting at : $135</strong></td>
	</tr>
	<tr>
	    <td>
		<h2>Corrective Color</h2>
	    </td>
	    <td><em>Someone else mess it up? Take a deep breath. We can fix it and make it pretty.</em></td>
	    <td><strong>Starting at : $90</strong></td>
	</tr>

	<tr>
	    <td colspan='3'><h1>Speciality—</h1></td>
	</tr>

	<tr class="alt">
	    <td>
		<h2>Wedding Hair</h2>
	    </td>
	    <td><em>We take extreme pride in our wedding hair. We offer in salon as well as onsite packages.</em></td>
	    <td><strong>Bridal Page Coming Soon</strong></td>
	</tr>
	<tr>
	    <td>
		<h2>Event Hair</h2>
	    </td>
	    <td><em>Up do:</em>
		<em>Half up:</em></td>
	    <td><strong>Starting at : $50</strong>
		<strong>Starting at : $40</strong></td>
	</tr>
	<tr class="alt">
	    <td>
		<h2>Clip In Extensions</h2>
	    </td>
	    <td><i>These can be added to any event style. (to color or cut extensions requires a consultation and prices will vary) in addition to event hair:</i></td>
	    <td><strong>Starting at : $20</strong></td>
	</tr>
	<tr>
	    <td>
		<h2>Great Lengths Extensions</h2>
	    </td>
	    <td><i>100% human hair extensions that are bonded to your natural hair.</i></td>
	    <td><strong>Consultation Required</strong></td>
	</tr>
	<tr>
	    <td>
		<h2>Texture Wave</h2>
	    </td>
	    <td><i>Body wave, perm or beach-y look</i></td>
	    <td><strong>Starting at : $80</strong></td>
	</tr>
	<tr>
	    <td>
		<h2>Bb. Conditioning Treatment</h2>
	    </td>
	    <td><em>Ultra conditioning masque for dry or overly color processed hair</em></td>
	    <td><strong>Starting at : $15</strong></td>
	</tr>
	<tr>
	    <td>
		<h2>Bb. Concen-straight Smoothing Treatment</h2>
	    </td>
	    <td><i>Makes curly, thick, coarse, frizzy, unmanageable or unruly hair straight, smooth and soft. Reduces frizz and increases manageability for months. It does not contain Keratin (which is animal-derived). Formaldehyde free. Cysteine free. Lye free.</i></td>
	    <td><strong>Consultation Required</strong></td>
	</tr>
	<tr>
	    <td>
		<h2>Scalp Massage</h2>
	    </td>
	    <td><i>10 minute relaxing shampoo and scalp massage</i></td>
	    <td><strong>$10</strong></td>
	</tr>
	<tr>
	    <td>
		<h2>Waxing</h2>
	    </td>
	    <td><i>Brows:
		Lip:
		Chin:
		Full Face:
	    </i></td>
	    <td><strong>$20</strong>
		<strong>$15</strong>
		<strong>$15</strong>
		<strong>$40</strong></td>
	</tr>
	<tr>
	    <td>
		<h2>Make-Up</h2>
	    </td>
	    <td><em>Full Face:</em>
		<em>Just the Eyes:</em>
		<em>Lashes: (added to a makeup service)</em></td>
	    <td><strong>Starting at : $50</strong>
		<strong>Starting at : $30</strong>
		<strong>Starting at : $10</strong></td>
	</tr>
    </tbody>
</table>
</div>
    {{template "footer"}}    
  </body>
</html>


